{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.0"}
        org.clojure/java.jdbc {:mvn/version "0.7.11"}
        org.xerial/sqlite-jdbc {:mvn/version "3.23.1"}
        honeysql/honeysql {:mvn/version "1.0.444"}}}